/* Modal */

@font-face {
  font-family: Poppins-Regular;
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.ttf);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, textarea{
  font: inherit;
}

html {
  height: 100%;
}

.page-body {
  min-height: 100%;
  background: linear-gradient(180deg, #0e81d6, rgba(0, 173, 95, 0.8)), url('./pic/main-background.png');
  background-size: cover;
  background-attachment: fixed;
}

.modal-wrapper {
  font-family: Poppins-Regular, sans-serif;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: row;
  width: 1120px;
  margin: 15px;
} 

.contact-info {
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
  width: 50%;
  padding: 25px;
}

.contact-info-item {
  display: flex;
  flex-direction: row;
  margin: 0 0 45px 20%;
}

.contact-info-item:last-child {
  margin-bottom: 0;
}

.contact-info-item__icon{
  height: 16px;
  width: 30px;
  padding-right: 20px;
  display: block;
}

.contact-info-item__title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
}

.contact-info-item__text {
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.contact-info-item__link {
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
  text-decoration: none;
}

.user-form {
  flex-grow: 1;
  color: #000000;
  background: #ffffff;
  padding: 55px 50px;
  width: 50%;
}

.user-form-title{
  font-size: 30px;
  margin-bottom: 25px;
  color: #333;
}

.user-form-item{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.user-form-item__title{
  text-transform: uppercase;
  margin-bottom: 10px; 
  color: #555;
  font-size: 12px;
}

.user-form-names{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.input_superclass{
  padding: 12px;
  font-size: 18px;
  transition: .4s ease-out;
  transition-property: outline-offset;
  outline: thin solid transparent;
  outline-offset: 15px;
  width: 100%;
  border: 1px solid #cccccc;
}

.input_superclass:focus{
  border: 1px solid transparent;
  outline: thin solid #00ad5f;
  outline-offset: 0px;
}

.user-form-names__input:last-child{
  margin-left: 25px; 
}

.user-form-item__button{
  margin-top: 23px;
  height: 50px; 
  width: 50%;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  background: #00ad5f;
  color: #fff;
  text-transform: uppercase;
}

.user-form-item__button:hover{
  background: #333333;
}

@media (max-width: 992px){

  .modal {
    width: 100%;
  }

  .contact-info {
    width: 40%;
  }  

  .contact-info-item {
    margin: 0 0 45px 0;
  }

  .user-form {
    width: 60%;
    padding: 55px 30px;
  }

  .user-form-names__input:last-child {
    margin-left: 0;
  }
}

@media (max-width: 768px){

  .modal {
    flex-direction: column-reverse;
  }  

  .contact-info {
    width: 100%;
  }   

  .user-form {
    width: 100%;
    padding: 55px 30px;
  }
}

@media (max-width: 576px){

  .user-form {
    padding: 55px 15px;
  }  

  .user-form-names {
    flex-direction: column;
  }

  .user-form-names__input {
    width: 100%;
  }
}