.main_backgroud {background-color: #e9e9e9;}

.main {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 5px 0 #000000;
    box-sizing: border-box;
    width: 800px;
    padding: 90px 70px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 2px;
}

.icon{
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: -140px;
    color: red;
    border-radius: 50%;
    background: url(./pic/envelope.jpg);
    background-position: center;
    background-size: contain;
    border: 1px solid #cccccc;
}

.heading {
    font: 30px Helvetica;
    text-align: center;
    margin: 50px 0;
}

.inputs{
    margin: 0 auto;
}

.data {
    font: 20px Helvetica;
    padding: 18px 0 18px 18px;
    box-sizing: border-box;
    width: 318px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.data:hover {
    border: 1px solid #ff0000;
}

.data:focus {
    border: 1px solid #ff0000;
}

#input_name {
    margin: 0 10px 0 0px;
}

#input_email {
    margin: 0 0 0 10px;
}

.message {
    margin: 0 auto;
    margin-top: 30px;
    font: 20px Helvetica;
    height: 60px;
    padding: 18px 0 18px 16px;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.message:hover {
    border: 1px solid #ff0000;
}

.message:focus {
    border: 1px solid #ff0000;
}

.button_send {
    margin-left: 85%;
    width: 15%;
    background: #ff495a;
    text: "Send";
    font: 18px Helvetica;
    color: #ffffff;
    padding: 18px 0;
    border-radius: 2px;
    margin-top: 30px;
}

.button_send:hover {
    box-shadow: 0 0 5px 0 #ff495a;
}
