body {background-color: rgba(233,233,233,1);}

form.main {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    width: 640px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 5px;
}

div.icon{
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: -140px;
    color: red;
    border-radius: 50%;
    background: url(./pic/envelope.jpg);
    background-position: center;
    background-size: contain;
    border: 0.5px solid rgba(0,0,0,0.1);
}

h1.heading {
    font: 30px Helvetica;
    text-align: center;
    margin-bottom: 50px;
}

div.inputs{
    margin: 0 auto;
    margin-bottom: 30;
}

input.data {
    type: "text";
    font: 20px Helvetica;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 280px;
    border-radius: 2px;
    outline: 0 !important;
    border: 1px solid rgba(0,0,0,0.2);
}

input.data:hover {
    border: 0.5px solid rgba(255,0,0,1);
}

input.data:focus {
    border: 0.5px solid rgba(255,0,0,1);
    box-shadow: 0 0 5px 0 rgba(255,0,0,1);
}

#input_name {
    margin-left: 0px;
    margin-right: 10px;
}

#input_email {
    margin-left: 10px;
    margin-right: 0px;
}

textarea.message {
    margin: 0 auto;
    margin-top: 30px;
    font: 20px Helvetica;
    height: 60px;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 2px;
    width: 608px;
    height: 250px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
}

textarea.message:hover {
    border: 0.5px solid rgba(255,0,0,1);
}

textarea.message:focus {
    border: 0.5px solid rgba(255,0,0,1);
    box-shadow: 0 0 5px 0 rgba(255,0,0,1);
}

button.button_send {
    margin-left: 518px;
    background: rgba(255,73,90,1);
    text: "Send";
    font: 18px Helvetica;
    color: rgba(255,255,255,1);
    border: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 110px;
    border-radius: 2px;
    margin-top: 30px;
}

button.button_send:hover {
    box-shadow: 0 0 5px 0 rgba(255,73,90,1);
}
